/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

body {
  margin-top: 50px;
}
a{
	text-decoration: none;
}
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #080808;
  }

  .side-nav>li>a {
	width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #080808;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}
.titles{
	background-color:white;
	height:auto;
	float:none;
	margin:0px auto 28px auto;
	border:1px solid #d5d5d5;
	padding:10px 20px;
	text-align:center;
	position: relative;
}

.titles span{
	background-image: url(../../images/arrow-down.png);
	background-repeat: no-repeat;
	margin-left: -16px;
	position: absolute;
	left: 50%;
	bottom: -17px;
	display:block;
	width:32px;
	height:18px;
}
.boreder_btn a:hover{
	margin-top: 100px;
	text-decoration: none;
	color:#666666;
	border: 1px solid #666666;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px #666666;
	
}
.boreder_btn a{
	margin-top: 100px;
	text-decoration: none;
	color:#666666;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 20px;
	
}
#style_concept:hover{
	float:left; background-color:#efefef; padding:3px;margin:2px; padding-top:10px;border-radius: 10px;cursor: default;
	
}
#style_concept{
	float:left; background-color:#ccc; padding:3px;margin:2px; padding-top:10px;border-radius: 10px;cursor: default;
}
#style_title{
	background-color: #3276b1; 
	padding:3px;
	padding-left:10px;
	padding-bottom:10px;
	margin:2px; 
	padding-top:10px;
	border-radius: 3px;
	color: #FFFFFF;
}
div.measure_name{
	font-size: 13px;
}
p.measure_name{
	font-size: 13px;
}
#style_concept_cpanel:hover{
	float:left; 
	background-color:#efefef; 
	padding:3px;margin:2px; 
	padding-top:10px;
	
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border-radius: 10px;
	cursor: default;
	
}
#style_concept_cpanel{
	float:left; 
	background-color:#ccc; 
	padding:3px;margin:2px; 
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border-radius: 10px;
	cursor: default;
}
#style_conc_cpanel{
	float:left; 
	background-color:#5cb85c; 
	padding:3px;margin:2px; 
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	cursor: default;
	color: #FFFFFF;
}

/* MHDProgr */
.noti{
	padding: 5px 5px;
	
}