

/*body {
     background-color:#d0cece;
    padding-top: 100px;
    padding-bottom: 45px;
    
}

ul.list-group > li.list-group-item:hover {
    background-color:#9d9d9d;
    border:1px #000 solid;
}

ul.list-group > li.list-group-item {
    background-color:#d0cece;
    border:1px #565656 solid;
}

ul.list-group > li.list-group-item > a:hover{
    color: white;
    text-decoration:none;
    font-family:"Adobe Arabic";
    font-size:22px;
}

ul.list-group > li.list-group-item > a{
    color:black;
    text-decoration:none;
}



a ,p {
    font-family:"Adobe Arabic";
    font-size:20px;
}
.panel1 > .panel-heading {
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #000 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #000 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #000 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}

.panel1 {
    border-radius: 20px;
     -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
.panel1 > .panel-heading > p{
color:#fff;
}

.background {
    background-image:url('../images/background.png');
    background-repeat:repeat;
}

#active_add_user{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
#active_edit_user{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
#active_change_pass{
    border-radius: 0px;
   background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
#active_forget_pass{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}

#active_edit_profile{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
#active_cat_news{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
#active_complaint{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none;
}
#active_delete_user{
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none; 
}
#active_show_user{
  border-radius: 0px;
    background-image: linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -webkit-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    background-image: -moz-linear-gradient(to bottom, #d0cece 0px, #222222 100%);
    -moz-box-shadow: 0px 0px 8px 2px #000;
    -webkit-box-shadow: 0px 0px 8px 2px #000;
    box-shadow: 0px 0px 8px 2px #000;
    border: 1px #000 solid;
    text-decoration:none; 
}
.color_header .navbar-nav>li>a:hover {
    color: #ccc;
}
.color_header .navbar-nav>li>a {
    color: white;
}
.color_header .navbar-brand:hover{
    color: #ccc;
}
.color_header .navbar-brand{
    color: white;
}
.span_color{
    color:#9c0eff;
    font-family:"Adobe Arabic";
    font-size:20px;
        
}

.font_input{
	font-family:"Adobe Arabic";
    font-size:20px;
    
}
.gradient-nav1 {
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #ffffff 0px, #dbdbdb 100%);
    background-image: -webkit-linear-gradient(to bottom, #ffffff 0px, #dbdbdb 100%);
    background-image: -moz-linear-gradient(to bottom, #ffffff 0px, #dbdbdb 100%);
    background-repeat: repeat-x;
    height: 50px;
    border: none;
    -moz-box-shadow: 0px 0px 8px 2px #919191;
    -webkit-box-shadow: 0px 0px 8px 2px #919191;
    box-shadow: 0px 0px 8px 2px #919191;
    box-shadow: 0px 0px 5px 1px #919191;
    border-bottom: 1px #9f9f9f solid;
}

*/
body {
     
    padding-top: 40px;
    padding-bottom: 45px;
    
}
#button_all{
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	background: #e3e3e3;
	padding:10px;
	margin-top:5px;
	margin-right:20px;
}
.font_input{
	font-family:"Tahoma";
    font-size:15px;
    
}